<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chen.androidtutorial" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.chen.activity.IndexActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chen.activity.MainActivity" >
        </activity>
        <activity android:name="com.chen.activity.SecondActivity" >
        </activity>
        <activity android:name="com.chen.activity.ActivityLifeCycle" >
        </activity>
        <activity
            android:name="com.chen.activity.DataActivity"
            android:label="@string/title_activity_data" >
        </activity>
        <activity
            android:name="com.chen.activity.CaptureActivity"
            android:label="@string/title_activity_capture" >
        </activity>
        <activity
            android:name="com.chen.activity.SendBroadcastActivity"
            android:label="@string/title_activity_capture" >
        </activity>

        <receiver android:name="com.chen.broadcast.MyBroadcastReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.chen.activity.DynamicRegisterBroadcastReceiver"
            android:label="@string/title_activity_dynamic_register_broadcast_receiver" >
        </activity>
        <activity
            android:name="com.chen.activity.ScanBarcodeActivity"
            android:label="@string/title_activity_scan_barcode" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>
